<div> <!--beginning div-->
  <div class = "file-container"> <!--file container div-->
    <div class = "dropdown-reader"> <!--dropdown div-->
      <select class="form-control" id="file-container" size = "10">
        {{#each readers}}
            <option>{{this.tag_id}}</option>
        {{/each}}
      </select>
    </div> <!--end of dropdown div-->

    <div id="file-form" class="form-container"> <!--form div-->
    </div> <!--end of form div-->
   <!-- <div id="file-table" class = "table-container">
    </div>  -->
  </div> <!--end of container div-->
</div> <!--ending div-->