<h2>Electronic Transponder Analysis Gateway</h2>
            <p>The Electronic Transponder Analysis Gateway (ETAG) is a database and software system that will provide professional
            data management and versatile data dissemination to a growing community of researchers who use Radio Frequency Identification (RFID)
            technology to advance biological inquiries in fields like animal behavior, ecological physiology, and community ecology. RFID entails
            short-range wireless communication between small transponder tags and readers, and it can facilitate tracking of individual items or
            animals that are equipped with a tag. RFID is a mature and ubiquitous technology, familiar to people in the form of electronic tool-booths
            or as 'microchip' tags implanted in cats and dogs. A community of researchers has emerged that employs RFID to track individual birds, mammals,
            fish, reptiles, and even insects in a wide range of field and laboratory research endeavors. For the majority of these projects, data collection,
            analysis, and curation are currently done by hand, which requires individual investigators to spend considerable time on data management rather
            than science. ETAG will transform the practices of its user community, by creating an infrastructure based on open-source tools that will
            allow scientist to collect, validate, visualize, analyze, and share data in near real-time. As a result, researchers will have new capacities
            both for producing novel science and for sharing their work with their peers and the general public.</p>
