<div class="col-lg-8"><h2>Task History</h2>
<h4 id="task_count"></h4>
<table class="table table-striped table-bordered table-condensed table-hover" id='resulttable'>
  <tr>
      <th>Task Name</th>
      <th>Timestamp</th>
      <th>Metadata Tags</th>
      <!--<th>Result</th>-->
  </tr>
<tbody id='result_tbody'>
  </tbody>
</table>
<nav>
<ul class="pager">
    <li id="li_prevlink" class="disabled"><a id="prevlink" href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
    <li id="li_nextlink" ><a id="nextlink" href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
</ul>
</nav>
</div>
