<div> <!--beginning div-->
  <div class = "file-container"> <!--file container div-->
    <div class = "dropdown-reader"> <!--dropdown div-->
    </div> <!--end of dropdown div-->

    <div id="file-generic-form" class="form-container"> <!--form div-->
    </div> <!--end of form div-->
   <!-- <div id="file-table" class = "table-container">
    </div>  -->
  </div> <!--end of container div-->
</div> <!--ending div-->
