<div> <!--beginning div-->
  <div class = "tab-container"> <!--tab container div-->
    <div class = "dropdown-reader"> <!--dropdown div-->
      <select class="form-control" id="tags-container" size = "10">
        {{#each animals}}
            <option>{{this.tag}}</option>
        {{/each}}
      </select>
    </div> <!--end of dropdown div-->

    <div id="tags-form" class="form-container"> <!--form div-->
    </div> <!--end of form div-->
    <div id="tags-table" class = "table-container">
    </div>
  </div> <!--end of container div-->
</div> <!--ending div-->
